body {
    font-family: "Outfit", sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

header {
    background-color: rgba(30, 30, 30, 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: rgba(30, 30, 30, 0.5);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

footer {
    background-color: rgba(30, 30, 30, 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

a {
    color: #80d4ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #fff;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    header {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    section {
        padding: 10px;
    }

    footer {
        padding: 10px;
    }
}